$color-a: #fdfdfd
$color-b: #dadada

html, body
    height: 100%
    margin: 0px
    padding: 0px

#chess-application
    height: 100%
    background-color: $color-b

#hero-container
    height: 240px
    background-color: red

#controls-container
    height: 80px
    background-color: tomato

#table-container
    background-color: $color-b

.centered-container
    width: 600px
    margin-left: auto
    margin-right: auto

#chess-table
    border: 0px

tr
    border: 0px

td
    height: 50px
    width: 50px
    text-align: center

tr
    &:nth-child(odd) td:nth-child(odd), &:nth-child(even) td:nth-child(even)
        background: $color-a

.flex-container
    display: flex

.flex-center
    align-items: center
    justify-content: center
